.video-wrapper {
  display: inline-block;
  position: relative;
  max-height: 100vh;
}
.site-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20%;
}

#bgVideo {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100vh;
}


#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#door11 {
  width: 38.2%;
  height: 63%;
  position: absolute;
  left: 31.5%;
  top: 29.5%;
}

#door21 {
  width: 13%;
  height: 40%;
  position: absolute;
  left: 5%;
  top: 32%;
}

#door22 {
  width: 13%;
    height: 40%;
    position: absolute;
    left: 31%;
    top: 32%;
}

#door23 {
  width: 13%;
  height: 40%;
  position: absolute;
  left: 57%;
  top: 31%;
}

#door24 {
  width: 13%;
  height: 40%;
  position: absolute;
  left: 82%;
  top: 32%;
}

.door {
  cursor: pointer;
  z-index: 999;
}

.door img {
  width: 22%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(1);
  transition: all .5s;
  background: rgba(122, 76, 17, .64);
  border-radius: 50%;
  border: 1px solid #f1d5b6;
  margin-left: -11%;
  animation: 1s ease-out 0s 1 scaleZeroToOne;
}

#door11 img {
  width: 17%;
  margin: -8.5% 0 0 -8.5%;
  top: 60%;
}

#door11 .anima {
  position: relative;
  width: 100%;
  height: 100%;
}

.door:hover .door-img {
  transform: scale(.90);
  box-shadow: 0px 0px 6px black;
}

.door .text {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  font-weight: bold;
  text-align: center;
  margin: 60px 0 0 -55px;
  width: 110px;
  text-align: center;
}

.door-close {
  position: absolute;
  right: 2%;
  bottom: 2%;
  z-index: 99;
  border: 1px solid #9d6c42;
  padding: 7px 5px 0px;
  color: white;
  border-radius: 10%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: all .2s;
  transform: scale(1);
  animation: 1s ease-out 0s 1 scaleZeroToOne;
  background-color: #e1d2bf;
  width: 5%;
}
.door-close:hover {
  transform: scale(1.1);
}

.door-close:active {
  transform: scale(.9);
  box-shadow: 0px 0px 5px white;
}

.door-close img {
  width: 100%;
}
.door-title{
  font-size: 2rem;
  font-weight: bolder;
  top: 8%;
  position: relative;
  color:#824b0e;
  animation: 1s ease-out 0s 0.3 fadein;
}


#door11 .door-title{
  color:white;
}

.loader {
  position: absolute;
  top: 47.5%;
  left: 41.2%;
  padding: 8%;
  display: inline-block;
  border: 6px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-left-color: #9f6011;
  -webkit-animation: rotate 1.2s linear infinite;
  animation: rotate 1.2s linear infinite;
}

@media only screen and (max-width: 1112px) {
  .door-title{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .door-title{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .door-title{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .door-title{
    font-size: .5rem;
  }
}


@media only screen and (max-width: 280px) {
}


@keyframes rotate {
  50% {
    border-left-color: #6b4310;
  }
  75% {
    border-left-color: #ef911b;
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes scaleZeroToOne {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
