<div class="video-wrapper">
  <video muted playsinline autobuffer id="bgVideo" preload="auto" #myVideo>
    Your browser does not support HTML5 video.
  </video>
  <audio src="" id="bgAudio" loop preload="auto" #myAudio></audio>
  <div><img class="site-logo" src="assets/resources/logo.png" alt="VIRTUAL SOIL MUSEUM"></div>

  <div id="door11" *ngIf="!door11 && level==1" class="door">
    <div class="door-title">WELCOME<br/>TO<br/>VIRTUAL SOIL MUSEUM<br/>OF<br/>BANGLADESH</div>
    <div class="loader"></div>
  </div>
  <div id="door11" *ngIf="door11" class="door" (click)="door11open()">
    <div class="second door-title">WELCOME<br/>TO<br/>VIRTUAL SOIL MUSEUM<br/>OF<br/>BANGLADESH</div>
    <img src="assets/resources/click.png" class="door-img">
  </div>

  <div class="door-wrapper">
    <div id="door21" class="second door" *ngIf="second" (click)="door2Open('door21')">
      <img src="assets/resources/click.png" class="door-img">
    </div>
  </div>
  <app-physiography-and-soils class="door21-content" *ngIf="doorContents['door21']" currentState="{{doorState['door21']}}"></app-physiography-and-soils>
  
  <div class="door-wrapper">
    <div id="door22" class="second door" *ngIf="second" (click)="door2Open('door22')">
      <!-- <div class="door-title">SOIL PROFILE<br/> GALLERY</div> -->
      <img src="assets/resources/click.png" class="door-img">
    </div>
  </div>
  <app-profile class="door22-content" *ngIf="doorContents['door22']" currentState="{{doorState['door22']}}"></app-profile>

  <div class="door-wrapper">
    <div id="door23" class="second door" *ngIf="second" (click)="door2Open('door23')">
      <!-- <div class="door-title">SOIL SERIES<br/> GALLERY</div> -->
      <img src="assets/resources/click.png" class="door-img">
    </div>
  </div>
  <app-series class="door23-content" *ngIf="doorContents['door23']" currentState="{{doorState['door23']}}"></app-series>

  <div class="door-wrapper">
    <div id="door24" class="second door" *ngIf="second" (click)="door2Open('door24')">
      <!-- <div class="door-title">SOIL SERIES<br/> GALLERY</div> -->
      <img src="assets/resources/click.png" class="door-img">
    </div>
  </div>
  <app-map class="door24-content" *ngIf="doorContents['door24']" currentState="{{doorState['door24']}}"></app-map>

  <div [ngClass]="'door-close door-close-' + doorCloseId" *ngIf="doorCloseId != ''" (click)="doorClose()">
    <img src="assets/resources/door-exit.svg">
  </div>
</div>
